.preloader 
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $primary-color
    display: flex
    transition: 1s all
    visibility: visible
    opacity: 1
    z-index: 999999

    &.done
        opacity: 0
        visibility: hidden    
    
    .logo 
        margin: auto
        width: 101px
        height: 101px
        border: 11px solid $base-color
        box-sizing: border-box

        &__line
            height: 11px
            width: 90px
            background: $base-color
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%) rotate(-15deg)
            animation: 1s line infinite linear alternate

@keyframes line 
    from
        transform: translate(-50%,-50%) rotate(-15deg)
    to
        transform: translate(-50%,-50%) rotate(15deg)

