.page-portfolio-info

    .header
        height: 100vh
        width: 100%
        background-image: url("/img/portfolio/yap/yap-14.jpg")
        margin-bottom: 68px
        background-size: cover
        background-repeat: no-repeat
        background-position: center

    .gallery

        &__title
            font-weight: bold
            margin-bottom: 21px
            font-size: $size-h5
            line-height: $size-h5
            color: $primary-color

        &__subtitle
            list-style-type: none
            font-size: $size-p
            line-height: 33px
            color: $base-color
            margin-bottom: 88px

        &__box img
            width: 100%
            margin-bottom: 28px


    .slider
        height: 813px
        width: 100%
        margin-bottom: 83px
        
        &__box 
            width: calc(100% - 174px)
            margin: 0 auto
            position: relative

        &__box img
            width: 100%

        &__navigation
            background: #000   
            width: 87px 
            z-index: 1
            position: absolute

        #prev
            left: 0
            top: 0
            bottom: 0    
        #next
            right: 0
            top: 0
            bottom: 0    

    .main__buttons 
        width: 500px
        margin: 0 auto