.map 
    height: 100vh
    position: relative
    &__box 
        position: absolute
        left: 136px
        top: 173px
    
    &__title 
        font-size: $size-h4
        color: $primary-color
        font-weight: bold
        line-height: 57px
    
    &__address 
        font-style: normal
        font-weight: bold
        font-size: $size-p
        line-height: $size-h5
        color: $base-color
    
    &__social-icons 
        display: flex
        align-items: center
        justify-content: space-between
        width: 230px
    
    &__social-icons a 
        display: flex
        align-items: center
        justify-content: center
        color: $base-color
        font-weight: bold
        font-size: $size-p
        line-height: $size-h4
        text-decoration: none
    
