.navigation 
    margin: 0
    padding: 57px 0 190px 0 

    &__list 
        list-style-type: none
        margin: 0
        padding: 0

    
    &__item 
        color: $base-color
        text-decoration: none
        font-weight: bold
        font-size: $size-p
        line-height: 41px
        margin-right: 70px
        &:last-child 
            margin: 0
        
        &:hover 
            transition: color .2s ease
            color: $primary-color
        

    

