.slider 
    position: relative
    overflow: hidden
    height: 382px

    &__box 
        width: 100%
        position: relative
    

    &__slide 
        position: absolute
        left: 0px
        top: 0px
        width: 100%
        height: 100%
        opacity: 0
        z-index: 1
        transition: opacity 1s
    

    &__slide.active 
        opacity: 1
        z-index: 2
    

    &__navigation 
        width: 48px
        display: flex
        align-items: center
        justify-content: center
    
