.statistic 
    padding-bottom: 325px
    &__item 
        align-items: center
    
    &__value 
        font-weight: 900
        font-size: 96px
        line-height: 93px
        margin-right: 20px    
        color: $base-bg
        letter-spacing: -0.05em
        -webkit-text-stroke-width: 2px
        -webkit-text-stroke-color:  $primary-color
    
    &__text 
        font-weight: bold
        font-size: $size-p-big
        line-height: 36px
    
