.case 
    margin: 0
    color: $base-color
    padding-bottom: 190px

    &__box 
        justify-content: flex-start
    
 
    &__title 
        font-weight: bold
        font-size: $size-h5
        margin-top: 55px
        line-height: $size-h5
        color: $base-color
        padding-bottom: 15px
        
    &__subtitle
        font-size: $size-p-mini
        line-height: 27px
        color: $base-color
        width: 352px
        margin-bottom: 136px
    
    &__link
        color: $base-color
        text-decoration: none
        width: 225px
        height: 45px
        border: 1px solid $base-color
        display: flex
        align-items: center
        justify-content: center
        font-weight: bold
        font-size: $size-p-mini
        line-height: $size-p-mini

    &__item img 
        width: 100%
        height: 100%

    &__info 
        background: rgba(255, 74, 58, 0.9)
        width: 100%
        height: 100%
        position: absolute
        top: 100%
        left: 0
        right: 0
        bottom: 0
        transition: .7s ease-in
        padding-left: 45px
    
    &__item 
        height: 441px
        position: relative
        margin: 0
        overflow: hidden
        padding: 0
        &:nth-child(1) 
            width: 33.33333%
        
        &:nth-child(2) 
            width: 66.66666%
        
        &:nth-child(3) 
            width: 66.66666%
        
        &:nth-child(4) 
            width: 33.33333%
        
        &:nth-child(5) 
            width: 33.33333%
        
        &:nth-child(6) 
            width: 66.66666%
        
        &:nth-child(7) 
            width: 66.66666%
            background-color: #20854D
        
        &:nth-child(8) 
            width: 33.33333%

        &:hover .case__info
            top: 0
