.header 
    color: $base-color
    
    &__box 
        justify-content: space-between
        align-items: center
        padding-bottom: 280px
    
    &__title 
        font-size: $size-h2
        color: $primary-color
    
    &__subtitles-box 
        margin: 0
        padding: 0
        font-size: $size-p
        line-height: 29px
    
    &__subtitle 
        width: 610px
    
