.services 
    padding-top: 270px
    padding-bottom: 115px
    
    &__box 
        margin-bottom: 90px
        &:first-child,
        &:nth-child(4) 
            width: 475px
        
        &:nth-child(2),
        &:nth-child(5) 
            width: 550px
        
    

    &__title 
        font-weight: bold
        font-size: $size-h6
        line-height: $size-h6
        color: $primary-color
    
    &__item 
        font-size: $size-p
        line-height: 47px
        color: $base-color  
        text-decoration: none
    
