<template>
  <div>
    <div v-if="false" class="preloader">
      <div class="logo">
        <div class="logo__line"></div>
      </div>
    </div>
    <header class="header">
      <div class="wrapper">
        <nav class="navigation flex flex--between">
          <a href="#"
            ><img src="/img/svg/logo.svg" alt="LOGO" class="header__logo"
          /></a>
          <menu class="navigation__list flex">
            <nuxt-link to="/pf" class="navigation__item">Портфолио</nuxt-link>
            <a href="/info" class="navigation__item">Контакты</a>
            <a href="/" class="navigation__item">Скачать pdf</a>
          </menu>
        </nav>
        <div class="header__box flex">
          <h1 class="header__title">Агентство нестандартных решений</h1>
          <div class="header__subtitles-box">
            <p class="header__subtitle">
              «<strong>Горизонт завален</strong>» — официально означает
              непараллельность линии горизонта на фотографии горизонтали на
              мониторе, что является одной из самых «детских», глупых и
              дилетантских ошибок горе-фотографов. <br />
              <br />
              Впрочем, <strong>справедливости ради нужно заметить</strong>, что
              заваленный горизонт используется как приём для выразительного
              построения кадра в художественной фотографии (известен как
              «голландский угол»).
            </p>
          </div>
        </div>
      </div>
    </header>
    <main class="main wrapper">
      <section class="statistic flex flex--between">
        <div class="statistic__item flex flex--between">
          <div class="statistic__value">30</div>
          <div class="statistic__text">Реализованных промосъемок</div>
        </div>
        <div class="statistic__item flex flex--between">
          <div class="statistic__value">20</div>
          <div class="statistic__text">Проведенных мероприятий</div>
        </div>
        <div class="statistic__item flex flex--between">
          <div class="statistic__value">17</div>
          <div class="statistic__text">Завершенных рекламный компаний</div>
        </div>
      </section>
      <section class="partners">
        <h3 class="partners__title">Наши партнеры</h3>
        <div class="slider flex">
          <div id="prev" class="slider__navigation flex">
            <img
              src="/img/svg/arrow-left.svg"
              alt="Prev"
              class="slider__left-arrow"
            />
          </div>
          <div id="slider" class="slider__box flex">
            <img
              src="/img/svg/slide-1.svg"
              alt="Партнеры"
              class="slider__slide active"
            />
            <img
              src="/img/svg/slide-2.svg"
              alt="Партнеры"
              class="slider__slide"
            />
            <img
              src="/img/svg/slide-3.svg"
              alt="Партнеры"
              class="slider__slide"
            />
            <img
              src="/img/svg/slide-4.svg"
              alt="Партнеры"
              class="slider__slide"
            />
          </div>
          <div id="next" class="slider__navigation flex">
            <img
              src="/img/svg/arrow-right.svg"
              alt="Next"
              class="slider__right-arrow"
            />
          </div>
        </div>
      </section>
      <section class="services flex flex--between flex--wrap">
        <div class="services__box">
          <h3 class="services__title">SMM</h3>
          <div class="services__list flex flex--column">
            <a href="#" class="services__item">Таргетированная реклама</a>
            <a href="#" class="services__item">Email-маркетинг</a>
            <a href="#" class="services__item">Контекстная реклама</a>
            <a href="#" class="services__item">Работа с блогерами</a>
            <a href="#" class="services__item">Контент-маркетинг</a>
          </div>
        </div>
        <div class="services__box">
          <h3 class="services__title">Web</h3>
          <div class="services__list flex flex--column">
            <a href="#" class="services__item">Веб-разработка</a>
            <a href="#" class="services__item">Разработка веб-сайтов</a>
            <a href="#" class="services__item"
              >Поддержка и развитие веб-сайтов</a
            >
          </div>
        </div>
        <div class="services__box">
          <h3 class="services__title">Фото/видео съемки</h3>
          <div class="services__list flex flex--column">
            <a href="#" class="services__item">Фотопродакшн</a>
            <a href="#" class="services__item">Видеопродакшн</a>
          </div>
        </div>
        <div class="services__box">
          <h3 class="services__title">Графический дизайн</h3>
          <div class="services__list flex flex--column">
            <a href="#" class="services__item">Digital</a>
            <a href="#" class="services__item">Полиграфия</a>
            <a href="#" class="services__item">Типографские услуги</a>
            <a href="#" class="services__item">VR</a>
            <a href="#" class="services__item">Моушн-дизайн</a>
          </div>
        </div>
        <div class="services__box">
          <h3 class="services__title">Нейминг и копирайтинг</h3>
          <div class="services__list flex flex--column">
            <a href="#" class="services__item"
              >Разработка креативных концепций</a
            >
            <a href="#" class="services__item">Написание продающих текстов</a>
          </div>
        </div>
        <div class="services__box">
          <h3 class="services__title">Контент-маркетинг</h3>
          <div class="services__list flex flex--column">
            <a href="#" class="services__item"
              >Создание решений <br />
              для завоевания доверия <br />
              и привлечения <br />
              потенциальных клиентов</a
            >
          </div>
        </div>
      </section>
      <section class="case">
        <div class="case__title">Наши кейсы</div>
        <div class="case__box flex flex--wrap">
          <div class="case__item">
            <img
              src="/img/portfolio/Зенит/zenit-case.jpg"
              alt="Зенит"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="./info.html" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/Фиеста/фиста для джорджа 4.jpg"
              alt="фиста для джорджа"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="./info.html" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/image 16.png"
              alt="Image"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="./info.html" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/билкм/Билкам, руководство-01.jpg"
              alt="Билкам"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="./info.html" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/Охана/12222.jpg"
              alt="Охана"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="./info.html" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/Японбульон/ЯпонБульон-14.jpg"
              alt="ЯпонБульон"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="./info.html" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/Репейник/rep.jpg"
              alt="Репейник"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="./info.html" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/United/2.jpg"
              alt="United"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="./info.html" class="case__link">Подробнее</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer map">
      <div id="map"></div>
      <div class="map__box">
        <h2 class="map__title">Ждем вас в гости!</h2>
        <p class="map__address">
          г. Челябинск, ул. Свободы, 2, 5А <br />
          +7 906 862 20 20 <br />
          info@gorizont.agency
        </p>
        <div class="map__social-icons">
          <a href="https://instagram.com/gorizont.agency?igshid=pg4gamw47u86"
            ><img src="/img/svg/inst.svg" alt="Instagram"
          /></a>
          <a href="https://vk.com/gorizont.agency"
            ><img src="/img/svg/vk.svg" alt="VK"
          /></a>
          <a href="#">horizon.chel</a>
        </div>
      </div>
    </footer>

    <script src="./js/common.js"></script>
    <!--
		hack for implementation svg hover effect
		more: https://css-tricks.com/the-many-ways-to-change-an-svg-fill-on-hover-and-when-to-use-them/
	-->
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="red-hover">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values="1 0 0 0 0
																	0 0.290196078 0 0 0
																	0 0 0.22745098 0 0
																	0 0 0 1 0 "
          />
        </filter>
      </defs>
    </svg>
  </div>
</template>

<script>
export default {}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
