<template>
  <div>
    <header class="header">
      <div class="wrapper">
        <nav class="navigation flex flex--between">
          <nuxt-link to="/"
            ><img src="/img/svg/logo.svg" alt="LOGO" class="header__logo"
          /></nuxt-link>
          <a href="/" class="header__back"
            ><img src="/img/svg/arrow-left.svg" alt="Назад"
          /></a>
        </nav>
      </div>
    </header>
    <main class="main wrapper">
      <div class="gallery">
        <h2 class="gallery__title">
          Япон Бульон — первая раменная в Челябинске
        </h2>
        <p class="gallery__subtitle">
          Разработка фирменного стиля “Япон Бульон” и проведение рекламной
          <br />
          фотосъемки для первой раменной в Челябинске.
        </p>
        <div class="gallery__box">
          <img src="/img/portfolio/Японбульон/ЯпонБульон-02.jpg" alt="" />
        </div>
        <div class="gallery__box">
          <img src="/img/portfolio/Японбульон/ЯпонБульон-03.jpg" alt="" />
        </div>
        <div class="gallery__box">
          <img src="/img/portfolio/Японбульон/ЯпонБульон-05.jpg" alt="" />
        </div>
      </div>
      <div class="slider flex">
        <div id="prev" class="slider__navigation flex">
          <img
            src="/img/svg/arrowleft.svg"
            alt="Prev"
            class="slider__left-arrow"
          />
        </div>
        <div class="slider__box flex">
          <img
            src="/img/portfolio/Японбульон/ЯпонБульон-01.jpg"
            class="slider__slide active"
            alt=""
          />
          <img
            src="/img/portfolio/Японбульон/ЯпонБульон-04.jpg"
            class="slider__slide"
            alt=""
          />
          <img
            src="/img/portfolio/Японбульон/ЯпонБульон-06.jpg"
            class="slider__slide"
            alt=""
          />
        </div>
        <div id="next" class="slider__navigation flex">
          <img
            src="/img/svg/arrowright.svg"
            alt="Next"
            class="slider__right-arrow"
          />
        </div>
      </div>
      <div class="main__buttons flex flex--center">
        <a href="./index.html" class="prev back">Вернуться назад</a>
        <a href="./index.html" class="next back">Вернуться назад</a>
      </div>
    </main>
  </div>
</template>
