<template>
  <div>
    <header class="header">
      <div class="wrapper">
        <nav class="navigation flex flex--between">
          <a href="/"
            ><img src="img/svg/logo.svg" alt="LOGO" class="header__logo"
          /></a>
          <a href="/" class="header__back"
            ><img src="/img/svg/arrow-left.svg" alt="Назад"
          /></a>
        </nav>
      </div>
    </header>
    <main class="main wrapper">
      <section class="portfolio">
        <div class="portfolio__title">Портфолио</div>
        <ul class="portfolio__filter flex flex--between">
          <li class="portfolio__filter-item">BTL</li>
          <li class="portfolio__filter-item">Event</li>
          <li class="portfolio__filter-item">Production</li>
        </ul>
      </section>

      <section class="case">
        <div class="case__box flex flex--wrap">
          <div class="case__item">
            <img
              src="/img/portfolio/Зенит/zenit-case.jpg"
              alt="Зенит"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="#" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/Фиеста/фиста для джорджа 4.jpg"
              alt="фиста для джорджа"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="#" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/image 16.png"
              alt="Image"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="#" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/билкм/Билкам, руководство-01.jpg"
              alt="Билкам"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="#" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/Охана/12222.jpg"
              alt="Охана"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="#" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/Японбульон/ЯпонБульон-14.jpg"
              alt="ЯпонБульон"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="#" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/Репейник/rep.jpg"
              alt="Репейник"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="#" class="case__link">Подробнее</a>
            </div>
          </div>
          <div class="case__item">
            <img
              src="/img/portfolio/United/2.jpg"
              alt="United"
              class="case__img"
            />
            <div class="case__info">
              <h3 class="case__title">Outlet Center</h3>
              <p class="case__subtitle">
                Проведение фотосъёмки, разработка серии наружной рекламы для
                outel-центра “Фиеста”
              </p>
              <a href="#" class="case__link">Подробнее</a>
            </div>
          </div>
        </div>
      </section>

      <a href="./index.html" class="back flex flex--center">Вернуться назад</a>
    </main>
  </div>
</template>
