$wrapper-width: 1330px;
$base-bg: #1E1E1E;
$base-color: #FFFFFF;
$primary-color: #FF4A3A;
$size-h1: 96px;
$size-h2: 82px;
$size-h4: 48px;
$size-h5: 36px;
$size-h6: 30px;
$size-p-big: 29px;
$size-p: 24px;
$size-p-mini: 18px;