.page-portfolio
    .navigation
        padding-bottom: 110px

    .portfolio

        &__title
            font-weight: bold
            font-size: $size-h5
            line-height: $size-h5
            color: $primary-color

        &__filter
            width: 420px
            list-style-type: none
            margin: 71px 0
            padding: 0

            &-item
                font-weight: bold
                list-style-type: none
                font-size: $size-h6
                line-height: $size-h6
                color: $base-color
                transition: color .2s ease-in

                &:hover
                    color: $primary-color
                    cursor: pointer

    .case
        padding-bottom: 72px
.back 
    text-align: center
    width: 100%
    font-size: $size-p
    line-height: $size-p
    display: block
    margin-bottom: 68px
    text-decoration: none
    color: $base-color
    transition: color .2s ease-in
    &:hover
        color: $primary-color
        cursor: pointer